@{
    ViewData["Title"] = "Tasks";
}


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @{
            var tasks = ViewData["Tasks"] as List<SEP.Web.Models.Task>;

            foreach (SEP.Web.Models.Task task in tasks)
            {
                <tr>
                    <td><a href="/tasks/@task.Id">@task.Name</a></td>
                    <td>@task.Priority</td>
                    <td>@task.AssignedMember.Name</td>
                    <td>@task.Status.ToString()</td>
                    <td>@task.CreatedBy.Name</td>
                    <td>@task.CreatedAt</td>                   
                </tr>
            }
        }
    </tbody>
</table>