@{
    ViewData["Title"] = "Financial Requests";
}

<div>
    @{  var financialRequest = ViewData["FinancialRequest"] as FinancialRequest;
        var currentUser = ViewData["CurrentUser"] as Employee;
    }
    <form>
        <input type="hidden" name="id" value="@financialRequest.Id" />
        <p>Requesting Department: @financialRequest.Department</p>


        <p>Project Reference: @financialRequest.EventRequest.EventName</p>
        <p>Required Amount: @financialRequest.RequiredAmount</p>
        <p>
            Reason <br />
            @financialRequest.Reason
        </p>
        @{  if (currentUser.Role == EmployeeRole.FinancialManager && financialRequest.Status == FinancialRequestStatus.Pending)
            { 
                <input type="submit" formaction="/financialrequests/approve" formmethod="post" value="Approve" /><br/>
                <input type="submit" formaction="/financialrequests/reject" formmethod="post"value="Reject" /><br/>  
            }
        }
    </form>
</div>