@{
    ViewData["Title"] = "Resource Requests";
}

<div>
    @{  var resourceRequest = ViewData["ResourceRequest"] as ResourceRequest;
    var currentUser = ViewData["CurrentUser"] as Employee;
    }
    <form>
        <input type="hidden" name="id" value="@resourceRequest.Id" />
        <p>Requesting Department: @resourceRequest.Department</p>

        <p>Contract Type: @resourceRequest.ContractType.ToString()</p>
        <p>Years Of Experience: @resourceRequest.YearsOfExperience</p>
        <p>Job Title: @resourceRequest.JobTitle</p>
        <p>
            Job Description <br />
            @resourceRequest.JobDescription
        </p>
        @{  if (currentUser.Role == EmployeeRole.HRManager && resourceRequest.Status == ResourceRequestStatus.Pending)
            {
                <input type="submit" formaction="/resourcerequests/approve" formmethod="post" value="Approve" /><br />
                <input type="submit" formaction="/resourcerequests/reject" formmethod="post"value="Reject" /><br />
            }
        }
    </form>
</div>